# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# virtual environments
.venv/

# uv
.python-version

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

!media/gif/

# ignore everything else inside media
media/images
media/Tex
media/texts
media/videos